<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triple.club.api.user.mapper.UserMapper">
    <select id="findUserByUsername" resultType="com.triple.club.api.user.entity.UserEntity">
        SELECT id, username, password, created_at, updated_at
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="save" keyProperty="id" parameterType="com.triple.club.api.user.entity.UserEntity">
        <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">
            REPLACE(UUID(),'-','')
        </selectKey>
        INSERT INTO user(id, username, password, created_at, updated_at)
        VALUES (#{id}, #{username}, #{password}, NOW(), NOW());
    </insert>
</mapper>
